<body>
<h1>My Dashboard</h1>

<h2>Hello, <%= current_user.username %></h2>

<h3>Plants For Sale</h3>


<div class="grid">
<div class="module">

<% @plants.each do |plant| %>
  <ul>
  <%= image_tag plant.image %>
  <p><%= plant.name %></p>
  <p><%= link_to 'View', plant_path(plant)  %></p>
  </ul>
<% end %>
  </div>
</div>

<div class="p2"><%= link_to 'Update Details', edit_user_registration_path %></div>
</body>