


<div class="plant-card">
  <div class="showcardtitle">
    <%= @plant.name %>
  </div>

  <div class="plantimgshow"><%= image_tag @plant.image %></div>

  <h3><%= @plant.variant %></h3>
  <h3><%= @plant.pot_size %>cm</h3>
  <div class="plant-price">$<%= @plant.price %></div> 
  <h3>Seller: <%= @plant.user.username %></h3>
  <p><%= link_to  "Message the Seller", conversations_path(sender_id: current_user.id, recipient_id: @plant.user.id), method: :post %></p>
  <p><%= link_to 'Back to Marketplace', plants_path %></p>
  <p><button><%= link_to "Buy This Plant", purchases_path(plant_id: @plant.id), method: :post %></button></p>
</div>