
<h1><%= @plant.name %></h1>


  <h3><%= @plant.variant %></h3>
  <%= image_tag @plant.image %>
  <h3><%= @plant.pot_size %>cm</h3>
  <h3>$<%= @plant.price %></h3> 

<%= link_to 'Back', plants_path  %> 